# kernel_frequency=200

# [hls]
# clock=225000000:csr_spmv_repl_1
# clock=250000000:csr_spmv_repl_2
# clock=250000000:csr_spmv_repl_3
# clock=300000000:csr_spmv_repl_4
# [clock]
# defaultFreqHz=250000000
# defaultTolerance=0.70

# [profile]
# data=all:all:all           # Monitor data on all kernels and CUs
# memory=all                 # Monitor transfers for all memories
# stall=all:all              # Monitor stalls for all CUs of all kernels
# exec=all:all               # Monitor execution times for all CUs
# exec=csr_spmv_repl_1:all:all # or *:*:all or counters
# aie=all                    # Monitor all AIE streams